<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <title>1. Basic</title>
    <link rel="stylesheet" type="text/css" href="./css/tui-example-style.css" />
    <link rel="stylesheet" type="text/css" href="../dist/tui-grid.css" />
    <script th:src="@{/js/jquery-3.6.3.min.js}"						type="text/javascript" ></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
 
    <script th:src="@{/js/jquery-util.js}"							type="text/javascript" ></script>
	<script th:src="@{/js/loading.js}"								type="text/javascript" ></script>
	<script th:src="@{/plugins/modal/jquery.modal.min.js}"			type="text/javascript" ></script>
	<!-- 토스트 ui 그리드 js!-->
	<script th:src="@{/plugins/toast/tui-grid/dist/tui-grid.js}" 	type="text/javascript" ></script>
	<script th:src="@{/js/modal/modal.js}"></script>
	<script th:src="@{/js/modal/modalMsg.js}"></script>
	
	<script th:src="@{/js/toast-grid-util.js}"></script>
  </head>

  <body>
    <div class="description">
      You can see the tutorial
      <a
        href="https://github.com/nhn/tui.grid/blob/master/packages/toast-ui.grid/docs/en/getting-started.md"
        target="_blank"
        >here</a
      >
      <br>
      <strong>The example code can be slower than your environment because the code is transpiled by babel-standalone in runtime.</strong>
    </div>
    
    <div class="code-html contents">
      <div id="grid"></div>
    </div>
  </body>
  <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
  <script type="text/javascript" src="../dist/tui-grid.js"></script>
  <script type="text/javascript" src="./data/basic-dummy.js"></script>
  <script type="text/babel" class="code-js">
    const grid = new tui.Grid({
      el: document.getElementById('grid'),
      data: gridData,
      scrollX: false,
      scrollY: false,
      columns: [
        {
          header: 'Name',
          name: 'name'
        },
        {
          header: 'Artist',
          name: 'artist'
        },
        {
          header: 'Type',
          name: 'type'
        },
        {
          header: 'Release',
          name: 'release'
        },
        {
          header: 'Genre',
          name: 'genre'
        }
      ]
    });
  </script>
</html>
